<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bluetooth">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlueTooth">

        <activity
            android:name=".activity.EndGameActivity"
            android:parentActivityName=".activity.DeviceActivity"
            android:theme="@style/Theme.BlueTooth.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>

        <activity
            android:name=".activity.CalibrationActivity"
            android:parentActivityName=".activity.DeviceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.DeviceActivity" />
        </activity>
        <activity
            android:name=".activity.ViewDataActivity"
            android:parentActivityName=".activity.ListFilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.ListFilesActivity" />
        </activity>
        <activity
            android:name=".activity.ListFilesActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".game.GameActivity"
            android:parentActivityName=".activity.CalibrationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.CalibrationActivity" />
        </activity>
        <activity
            android:name=".activity.DeviceActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>